* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    color: #3C3E44;
    font-style: 'Open Sans', 'sans-serif';
    font-weight: 400;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

-------------------------------
.row {
    min-width: 414px;
    margin: 0, auto;
}
#hero-image {
    height: 600px;
    width: 100%;
}

.hero-text-box {
    position: absolute;
    min-width: 414px;
}

h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 2px;
    position: absolute;
    margin-top: 20px;
    top: 0%;
    left: 0%;
}
h3 {
    margin: 0;
    font-family: 'Indie+Flower';
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    word-spacing: 3px;
    position: absolute;
    margin-top: 20px;
    bottom: 10%;
    left: 0%;
}
.menu {
    margin:0;
    float:right;
    list-style: none;
    position: absolute;
    margin-top: 20px;
    top: 0%;
    right: 0%;
    
}
.menu li {
    display: inline-block;
}

.menu li a:link,
.menu li a:visited {
    color:#3C3E44;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    border-bottom: 2px solid #f1c40f;
    padding-top: 2%;
}
}
.menu li a:hover,
.menu li a:active {
    border-bottom: 2px solid #e74c3c;
}
/*----------------------------------------Media Queries*/
@media(min-width: 768px) {
    .hero-text-box {
     min-width: 768px;
}
h1 {
    font-size: 25px;
    
}
.menu li a:link,
.menu li a:visited {
    font-size: 25px;
}   
@media(min-width: 992px) {
.hero-text-box {
     min-width: 992px;
}
h1 {
    font-size: 40px;
    
}
.menu li a:link,
.menu li a:visited {
    font-size: 40px;
}
@media(min-width: 1024px) {
.hero-text-box {
     min-width: 1024px;
}
h1 {
    font-size: 37px;
    
}
.menu li a:link,
.menu li a:visited {
    font-size: 37px;
}